#border {
  border: 1px solid red;
}
#tyler{
  display: block;
  box-shadow: 5px 10px #888888;
  padding-top: 10px;
}
#descript{
  font-size: 28px;
  font-family: "Athelas";
  font-weight:bold;
}
#mainnav{

}
#bars{
  height: 75px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8ff+0,f8f8ff+49,f8f8ff+52,f8f8ff+100&1+0,0.04+100 */
background: -moz-linear-gradient(top, rgba(248,248,255,1) 0%, rgba(248,248,255,0.53) 49%, rgba(248,248,255,0.5) 52%, rgba(248,248,255,0.04) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8ff', endColorstr='#0af8f8ff',GradientType=0 ); /* IE6-9 */
}
#bars2{
  height:10%;
  width:100%;
  position: absolute;
  bottom:0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8ff+0,f8f8ff+49,f8f8ff+52,f8f8ff+100&0+1,1+100 */
background: -moz-linear-gradient(top, rgba(248,248,255,0) 0%, rgba(248,248,255,0) 1%, rgba(248,248,255,0.48) 49%, rgba(248,248,255,0.51) 52%, rgba(248,248,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,248,255,0) 0%,rgba(248,248,255,0) 1%,rgba(248,248,255,0.48) 49%,rgba(248,248,255,0.51) 52%,rgba(248,248,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,248,255,0) 0%,rgba(248,248,255,0) 1%,rgba(248,248,255,0.48) 49%,rgba(248,248,255,0.51) 52%,rgba(248,248,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8f8ff', endColorstr='#f8f8ff',GradientType=0 ); /* IE6-9 */

}
#topnav{
  padding-right: 20px;
}
#bottomnav{
  padding: 10px 60px 60px 0px;

  font-family: "Raleway";
  font-weight:bold;
  font-size: 24px;
}
#spacing{
  margin-bottom:3.5% ;
  background-color: white;
}
#tylerprofile{
  -webkit-filter: drop-shadow(10px 10px 8px #222);
filter: drop-shadow(7px 7px 5px #222);
}

.title-bar{
  background: -moz-linear-gradient(top, rgba(248,248,255,1) 0%, rgba(248,248,255,0.53) 49%, rgba(248,248,255,0.5) 52%, rgba(248,248,255,0.04) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8ff', endColorstr='#0af8f8ff',GradientType=0 ); /* IE6-9 */
  font-family: "Raleway";
  color: black;
  padding-bottom: 50px;

}
a{
  color: inherit;
  font-family:"Raleway";
}
.menu-text{
  font-family:"Raleway"

}
#site-title{
  list-style: none;
}
.top-bar ul{
  background-color: transparent;
  padding-bottom: 50px;
}
.top-bar{
  background: -moz-linear-gradient(top, rgba(248,248,255,1) 0%, rgba(248,248,255,0.53) 49%, rgba(248,248,255,0.5) 52%, rgba(248,248,255,0.04) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(248,248,255,1) 0%,rgba(248,248,255,0.53) 49%,rgba(248,248,255,0.5) 52%,rgba(248,248,255,0.04) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8ff', endColorstr='#0af8f8ff',GradientType=0 ); /* IE6-9 */

}


.menu-text {
  padding: 0.7rem 1rem;
  font-weight: bold;
  line-height: 1;
  color: inherit; }
  .greeting {
  font-weight: 300;
  position: absolute;
  left: 85%;
  top:;
  transform: translate(-50%, -50%);
}
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-iteration-count: infinite;
}
#animate-h{
  font-family: Avenir;
  font-weight: bold;
}
.card-container {
  height: 200px;
  perspective: 600;
  position: relative;
  width: 400px;
}
.card {
  height: 100%;
  position: absolute;

  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {/*front of card*/
  backface-visibility: visible;
  background: white;
  border: solid black;
  height: 100%;
  position: absolute;
  width: 100%;
  padding-top:40px;
  padding-left:85px;
  font-family:Raleway;
}
.card .back {/*back of card*/
   background: white;

  transform: rotateY(180deg);
}
.space{
  margin-bottom: 20px;
}



.heart{
	  width: 100px;
	  height: 100px;
	  background-image: url("http://i.imgur.com/qzQkmGm.png");
	  animation: playX 1s steps(29) infinite;
	}

	@keyframes playX {
	  from {background-position-x: 0px;}
	  to {background-position-x: -2900px;}
	}
  #hafez{
    font-family: Athelas;
  }
